<div class="back">
    <div class="row justify-content-center">
        <p [ngClass]="{
            'lg-titleSectionChat': !onSizeSm(),
            'sm-titleSectionChat': onSizeSm()
        }">Chat</p>
    </div>
    <ul id="messages" [ngStyle]="{'height': innerHeighttxt}">
        <li [ngClass]="{
            'lg-mess': !onSizeSm(),
            'sm-mess': onSizeSm()
        }" *ngFor="let message of messages"><span class="strong" [ngClass]="{
            'team0': message.color[0],
            'team1': message.color[1]
        }">{{message.pseudo}}:</span> {{message.text}}</li>
    </ul>
    <form [formGroup]="chatForm">
        <div>
            <input type="text" formControlName="message"><button class="button" type="submit" (click)="onSend()" [disabled]="chatForm.invalid">Send</button>
        </div>
    </form>
</div>