#messages {
    padding: 5px; 
    width: 100%;
    background-color: rgb(92, 82, 82);
    overflow-y: scroll;
}

.mess {
    background-color: rgb(92, 82, 82);
}

form { 
    padding: 3px; 
    width: 100%;
}

form input {
    border: 0;
    width: 80%;
    background-color: rgb(92, 82, 82);
}

input[type=text]{
    color: white
}

.back{
    margin: 10px 0 10px 10px;
    background-color: #ffe433cc;
}


