<div class="back">
    <h1>Chat</h1>
    <div class="row justify-content-center m-0 mess" id='timesup-game-com_300X250'>
        <script type='text/javascript'>
            aiptag.cmd.display.push(function() { aipDisplayTag.display('timesup-game-com_300X250'); });
        </script>
    </div>
    <ul id="messages" [ngStyle]="{'height': innerHeighttxt}">
        <li *ngFor="let message of messages">{{message.pseudo}}: {{message.text}}</li>
    </ul>
    <form [formGroup]="chatForm">
        <div>
            <input type="text" formControlName="message"><button type="submit" (click)="onSend()" [disabled]="chatForm.invalid">Send</button>
        </div>
    </form>
</div>