.lg-titleSectionGame {
    font-family: Ribeye;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF; 
}

.sm-titleSectionGame {
    font-family: Ribeye;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF; 
}

.lg-subtitleSectionGame {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF; 
}

.sm-subtitleSectionGame {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px; 
    color: #FFFFFF; 
}

.lg-contentSectionGame {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #000000; 
}

.sm-contentSectionGame {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000; 
}

.boxGuess {
    background: #FFFFFF;
    border: 2px solid #091235;
}

.boxFound {
    background: #FFFFFF;
    border: 2px solid #15c73f;
}

.boxSkipped {
    background: #FFFFFF;
    border: 2px solid #d3ab26;
}

span.team1{
    color: #CC2D90;
}

span.team2{
    color: #607B00;
}

.backGame {
    background: #88A9C3;
    border: 2px solid #FFFFFF;
    padding: 30px 30px 30px 30px;
}

.backResults {
    background: #88A9C3;
    border: 2px solid #FFFFFF;
}


.borderbottom {
    border-bottom: 4px solid #FFFFFF;
}

.lg-titleSectionRecap {
    margin-bottom: 0;
    font-family: Ribeye;
    font-weight: 300;
    font-size: 40px;
    line-height: 45px;
    color: #000000; 
}

.sm-titleSectionRecap {
    margin-bottom: 0;
    font-family: Ribeye;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #000000; 
}

.lg-contentSectionRecap {
    margin-bottom: 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;
    color: #000000; 
}

.sm-contentSectionRecap {
    margin-bottom: 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #000000; 
}

.black {
    color: #000000;
    background-color: #ffffff;
}