span.team1{
    color: #FF5412;
    text-shadow:0 0 1px black;
}

span.team2{
    color: #FF66E9;
    text-shadow:0 0 1px black;
}

.timer {
    font-size: 20px;
}

.title {
    font-size: 30px;
    margin-bottom: 0px;
}

