.sidebar {
    background-color: steelblue;
    height: 100vh;
}

.content {
    padding: 30px 0 0 30px;
}


.login {
    width: 300px;
    height: 200px;
  
    position: absolute;
    top: 30%;
    left: 35%;
  
}