<div class="container-fluid" *ngIf="isNone">
    <div class="row fullrow justify-content-center align-items-center">
        <div class="col-4">
            <app-auth [socket]="socket"></app-auth>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="isAuth">
    <div class="row">
        <h1>Times Up Online</h1>
    </div>
    <div class="row">
        <div class="sidebar bg-primary col-auto">
            <app-sidebar [socket]="socket"></app-sidebar>
        </div>
        <div class="col-auto">
            <app-creation [socket]="socket" *ngIf="isCreator"></app-creation>
            <app-proposal [socket]="socket" *ngIf="isProposal"></app-proposal>
            <app-listen [socket]="socket" *ngIf="isListener"></app-listen>
            <app-play [socket]="socket" *ngIf="isPlayer"></app-play>
        </div>
    </div>
</div>
