.sidebar {
    border-radius: 10px 10px 10px 10px;
    background-color: #01dee68e;
}

.padding_top_bot {
    padding: 30px 0px 30px 0px;
}

.padding_top_left {
    padding: 0px 0px 0px 30px;
}

.description {
    padding: 20px 20px 20px 20px;
}

.login {
    background-color:#01dee68e;
}

.upbar {
    background-color:#f3322b9f;
    position: relative;
    left: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.title {
    font-size: 30px;
    margin-left: 20px;
}

.title-jumbo {
    font-size: 30px;
}

.icon {
    height: 40px;
    margin-left: 10px;
}

.contact {
    font-size: 25px;
    padding: 1px;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 5px;
}