.sidebar {
    height: 100vh;
    border-radius: 10px 10px 10px 10px;
}

.padding_top_bot {
    padding: 30px 0px 30px 0px;
}

.padding_top_left {
    padding: 20px 0px 0px 50px;
}

.description {
    padding: 20px 20px 20px 20px;
}

.login {
    background-color: rgba(45, 29, 192, 0.801);
}

.upbar {
    background-color: rgba(7, 0, 73, 0.801);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.title {
    font-size: 40px;
}