<p [ngClass]="{
  'lg-title': !onSizeSm(),
  'sm-title': onSizeSm()
}">LOGIN</p>
<form [formGroup]="userForm">
  <div class="row">
    <label for="pseudo" [ngClass]="{
      'lg-label': !onSizeSm(),
      'sm-label': onSizeSm()
    }">Name</label>
    <input type="text" id="pseudo" [ngClass]="{
      'lg-input': !onSizeSm(),
      'sm-input': onSizeSm()
    }" formControlName="pseudo">
  </div>
  <div class="row">
    <label for="roomCode" [ngClass]="{
      'lg-label': !onSizeSm(),
      'sm-label': onSizeSm()
    }">Room code</label>
    <input type="text" id="roomCode" [ngClass]="{
      'lg-input': !onSizeSm(),
      'sm-input': onSizeSm()
    }" formControlName="roomCode"
      placeholder="Lower case letters and numbers">
  </div>
  <div class="row justify-content-end">
    <div class="alert alert-dismissible alert-warning" *ngIf="alreadyCreated">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Room name already used
    </div>
    <div class="alert alert-dismissible alert-warning" *ngIf="pseudoAlreadyTaken">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Pseudo already taken
    </div>
    <button [ngClass]="{
      'lg-button': !onSizeSm(),
      'sm-button': onSizeSm()
    }" (click)="onSignIn()" [disabled]="userForm.invalid" type="button">Join</button>
  </div>
</form>