<div class = "row">
    <div class="col">
        <h2 class="team1">Team 1:</h2>
        <li *ngFor="let teammate1 of teams[0]" class="team1">{{ teammate1[1] }}</li>
        <p *ngIf="teams[0].length!=0" class="team1">SCORE: {{score[0]}}</p>
    </div>
    <div class="col">
        <h2 class="team2">Team 2:</h2>
        <li *ngFor="let teammate2 of teams[1]" class="team2">{{ teammate2[1] }}</li>
        <p *ngIf="teams[1].length!=0" class="team2">SCORE: {{score[1]}}</p>
    </div>
</div>
<button class="btn btn-light" (click)="onRestart()">Restart</button>
