canvas {
    border: 1px solid black;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: brown;
}

.box {
    height: 60px;
    width: 60px;
}

.bord {
    border: solid 3px rgb(57, 214, 78)
}