<div class="row justify-content-center mb-1">
    <canvas id="canvas" (mousemove)="draw($event)" (mousedown)="startPosition($event)"
        (mouseup)="endPosition($event)"></canvas>
</div>
<div class="row justify-content-center">
    <div [ngClass]="createClassCoul(0)" (click)="changeColor('white')"></div>
    <div [ngClass]="createClassCoul(1)" (click)="changeColor('black')"></div>
    <div [ngClass]="createClassCoul(2)" (click)="changeColor('red')"></div>
    <div [ngClass]="createClassCoul(3)" (click)="changeColor('yellow')"></div>
    <div [ngClass]="createClassCoul(4)" (click)="changeColor('blue')"></div>
    <div [ngClass]="createClassCoul(5)" (click)="changeColor('purple')"></div>
    <div [ngClass]="createClassCoul(6)" (click)="changeColor('pink')"></div>
    <div [ngClass]="createClassCoul(7)" (click)="changeColor('brown')"></div>
    <div [ngClass]="createClassCoul(8)" (click)="changeColor('green')"></div>
    <div class="box white p-1 ml-1" (click)="fill()">
        <img src="../../assets/remplissage.png">
    </div>
    <div [ngClass]="createClassSize(0)" (click)="changeSize(3)">
        <img src="../../assets/3px.png">
    </div>
    <div [ngClass]="createClassSize(1)" (click)="changeSize(10)">
        <img src="../../assets/10px.png">
    </div>
    <div [ngClass]="createClassSize(2)" (click)="changeSize(20)">
        <img src="../../assets/20px.png">
    </div>
    <div [ngClass]="createClassSize(3)" (click)="changeSize(40)">
        <img src="../../assets/40px.png">
    </div>
    <div class="box white p-1 m-0" (click)="fillWhite()">
        <img src="../../assets/poubelle.png">
    </div>
</div>