.lg-titleRoomSidebar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.sm-titleRoomSidebar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.lg-subtitleRoomSidebar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 0;
    color: #88A9C3;
}

.sm-subtitleRoomSidebar {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 0;
    color: #88A9C3;
}

.lg-btnRoomSidebar {
    background: #88A9C3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.sm-btnRoomSidebar {
    background: #88A9C3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    color: #000000;
}

.team1 {
    color: #CC2D90;
}

.team2 {
    color: #607B00;
}

ul {
    list-style-type: none;
    padding: 0;
}