<div class="border-bottom border-dark">
    <h1>Room:</h1>
    <p>{{ roomCode }}</p>
</div>
<div class="border-bottom border-dark">
    <h2>Players: </h2>
    <li *ngFor="let player of players">
        {{ player }}
    </li>
</div>
<div>
    <h2 class="team1">Team 1:</h2>
    <li *ngFor="let teammate1 of teams[0]" class="team1">{{ teammate1[1] }}</li>
    <p *ngIf="teams[0].length!=0" class="team1">SCORE: {{score[0]}}</p>
    <h2 class="team2">Team 2:</h2>
    <li *ngFor="let teammate2 of teams[1]" class="team2">{{ teammate2[1] }}</li>
    <p *ngIf="teams[1].length!=0" class="team2">SCORE: {{score[1]}}</p>
</div>
<div class="mx-auto">
    <button class="btn btn-light" *ngIf='!isPlayer && !isListener' (click)="onRandomize()">Randomize teams</button>
</div>

