<div class="container">
    <div class="row justify-content-center">
        <p [ngClass]="{
            'lg-titleRoomSidebar': !onSizeSm(),
            'sm-titleRoomSidebar': onSizeSm()
        }">Room</p>
    </div>
    <div class="row justify-content-center mt-1">
        <p [ngClass]="{
            'lg-subtitleRoomSidebar': !onSizeSm(),
            'sm-subtitleRoomSidebar': onSizeSm()
        }">{{ roomCode }}</p>
    </div>
    <div *ngIf="isCreator">
        <div class="row justify-content-center mt-2">
            <p [ngClass]="{
                'lg-titleRoomSidebar': !onSizeSm(),
                'sm-titleRoomSidebar': onSizeSm()
            }">Players: </p>
        </div>
        <div class="row">
            <ul>
                <li [ngClass]="{
                    'lg-subtitleRoomSidebar ml-4': !onSizeSm(),
                    'sm-subtitleRoomSidebar ml-3': onSizeSm()
                }" *ngFor="let player of players">
                    {{ player }}
                </li>
            </ul>
        </div>
        <div class="row justify-content-center mt-2">
            <button [ngClass]="{
                'lg-btnRoomSidebar': !onSizeSm(),
                'sm-btnRoomSidebar': onSizeSm()
            }" *ngIf='!isProposal && !isPlayer && !isListener && !isEnd && !isResult' (click)="onRandomize()">Randomize
                teams</button>
        </div>
    </div>
    <div class="row mt-2">
        <p [ngClass]="{
            'lg-titleRoomSidebar': !onSizeSm(),
            'sm-titleRoomSidebar': onSizeSm()
        }" *ngIf="defaultName[0]" class="team1 ml-2">Team 1:</p>
        <p [ngClass]="{
            'lg-titleRoomSidebar': !onSizeSm(),
            'sm-titleRoomSidebar': onSizeSm()
        }" *ngIf="!defaultName[0]" class="team1 ml-2">{{nameTeam[0]}}</p>
    </div>
    <div class="row">
        <ul>
            <li [ngClass]="{
                'lg-subtitleRoomSidebar ml-4': !onSizeSm(),
                'sm-subtitleRoomSidebar ml-3': onSizeSm()
            }" *ngFor="let teammate1 of teams[0]">{{ teammate1[1] }}</li>
        </ul>
    </div>
    <div class="row mt-2">
        <p [ngClass]="{
            'lg-titleRoomSidebar': !onSizeSm(),
            'sm-titleRoomSidebar': onSizeSm()
        }" *ngIf="defaultName[1]" class="team2 ml-2">Team 2:</p>
        <p [ngClass]="{
            'lg-titleRoomSidebar': !onSizeSm(),
            'sm-titleRoomSidebar': onSizeSm()
        }" *ngIf="!defaultName[1]" class="team2 ml-2">{{nameTeam[1]}}</p>
    </div>
    <div class="row">
        <ul>
            <li [ngClass]="{
                'lg-subtitleRoomSidebar ml-4': !onSizeSm(),
                'sm-subtitleRoomSidebar ml-3': onSizeSm()
            }" *ngFor="let teammate2 of teams[1]">{{ teammate2[1] }}</li>
        </ul>
    </div>
</div>