p.team1, li.team1, h2.team1{
    color: #FF5412;
    text-shadow:0 0 1px black;
}

p.team2, li.team2, h2.team2{
    color: #FF66E9;
    text-shadow:0 0 1px black;
}

p, li {
    font-size: 16px;
}

h1 {
    font: small-caps bold 25px 'Times New Roman', Times, serif;
}

h2 {
    font: small-caps bold 20px 'Times New Roman', Times, serif;
}
