<div class="row">
    <h1>{{ step }}</h1>
</div>
<div class="row">
    <h1>It's time for team {{chosenTeam+1}}</h1>
</div>
<div class="row">
    <h2>It's your turn !</h2>
</div>
<div class="row" *ngIf='displayLastFound' [hidden]="boolPlay">
    <p *ngIf='lastsFound.length > 1'>Last turn, these proposals were found:</p>
    <p *ngIf='lastsFound.length == 1'>Last turn, this proposal was found:</p>
    <li *ngFor='let proposal of lastsFound'>{{ proposal }}</li>
</div>
<button *ngIf="!endRound" class="btn btn-success" (click)="onStart()" [disabled]="boolPlay">Start round</button>
<div *ngIf="boolPlay">
    <div class="row">
        <p>Time left: {{ timeLeft }} s</p>
    </div>
    <div class="row">
        <h3>Current proposal: {{currentProposal[1]}}</h3>
    </div>
    <div class="row">
        <button class="btn btn-warning" (click)="onSkip()">Skip proposal</button>
        <button class="btn btn-success" (click)="onValidate()">Validate</button>
    </div>
</div>
<div class = "row" *ngIf="endRound">
    <form [formGroup]="validationForm">
        <div *ngFor="let proposal of validateProposals">
            <label>{{ proposal }}</label>
            <select name="{{ proposal }}" type = "checkbox" formControlName = "{{ proposal }}">
                <option value="valid">Valid</option>
                <option value="unvalid">Unvalid</option>
            </select>
        </div>
        <button class="btn btn-success" [disabled]="validationForm.invalid" (click)="onSubmit()">Validate results</button>     
    </form>
</div>
