span.team1{
    color: rgba(197, 123, 25, 0.774);
    text-shadow:0 0 1px black;
}

span.team2{
    color: rgb(16, 17, 122);
    text-shadow:0 0 1px black;
}

.timer {
    font-size: 20px;
}

.radio {
    height: 20px;
    width: 20px;
}

.radio_label {
    font-size: 20px;
}

canvas {
    border: 1px solid black;
}
