<div class="container back p-3">
  <div class="row justify-content-center">
    <p [ngClass]="{
      'lg-titleSectionCreation': !onSizeSm(),
      'sm-titleSectionCreation': onSizeSm()
  }">Game creation</p>
  </div>
  <form [formGroup]="parametersForm">
    <div class="row justify-content-center mt-2">
      <label [ngClass]="{
          'lg-subtitleSectionCreation': !onSizeSm(),
          'sm-subtitleSectionCreation': onSizeSm()
      }" for="numberProp">Number of proposals per person</label>
    </div>
    <div class="row justify-content-center">
      <select id="numberProp" [ngClass]="{
        'lg-control1': !onSizeSm(),
        'sm-control1': onSizeSm()
    }" formControlName="numberProp" (change)="onSend()">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class="row justify-content-center mt-2">
      <label [ngClass]="{
          'lg-subtitleSectionCreation': !onSizeSm(),
          'sm-subtitleSectionCreation': onSizeSm()
      }" for="timers">Timers for each step (in seconds)</label>
    </div>
    <div class="row justify-content-center">
      <select id="timerStep1" [ngClass]="{
        'lg-control1': !onSizeSm(),
        'sm-control1': onSizeSm()
    }" formControlName="timerStep1" (change)="onSend()">
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
        <option value="70">70</option>
        <option value="80">80</option>
        <option value="90">90</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="row justify-content-center">
      <select id="timerStep2" [ngClass]="{
        'lg-control1': !onSizeSm(),
        'sm-control1': onSizeSm()
    }" formControlName="timerStep2" (change)="onSend()">
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
        <option value="70">70</option>
        <option value="80">80</option>
        <option value="90">90</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="row justify-content-center">
      <select id="timerStep3" [ngClass]="{
        'lg-control1': !onSizeSm(),
        'sm-control1': onSizeSm()
    }" formControlName="timerStep3" (change)="onSend()">
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
        <option value="70">70</option>
        <option value="80">80</option>
        <option value="90">90</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="row justify-content-center mt-2">
      <label [ngClass]="{
          'lg-subtitleSectionCreation': !onSizeSm(),
          'sm-subtitleSectionCreation': onSizeSm()
      }" for="nameTeams">Team names (optional)</label>
    </div>
    <div class="row justify-content-center">
      <input type="text" id="nameTeam1" [ngClass]="{
        'lg-control2': !onSizeSm(),
        'sm-control2': onSizeSm()
    }" formControlName="nameTeam1" (keyup)="onSend()"
        placeholder="Team 1">
    </div>
    <div class="row justify-content-center">
      <input type="text" id="nameTeam2" [ngClass]="{
        'lg-control2': !onSizeSm(),
        'sm-control2': onSizeSm()
    }" formControlName="nameTeam2" (keyup)="onSend()"
        placeholder="Team 2">
    </div>
    <div class="row justify-content-center mt-2">
      <button [ngClass]="{
        'lg-button': !onSizeSm(),
        'sm-button': onSizeSm()
    }" (click)="onLaunch()"
        [disabled]="createTeams || alone || parametersForm.invalid">Launch the game</button>
    </div>
  </form>
</div>
