<div class="row">
  <h1>Game creation</h1>
</div>
<div class="row">
  <form class="col-sm-12" [formGroup]="parametersForm">
    <div class="form-group">
      <label for="numberProp">Number of proposals per person:</label>
      <input type="number" id="numberProp" class="form-control -lg" formControlName="numberProp" (keyup)="onSend()"
        min=1>
    </div>
    <div class="form-group">
      <label for="timers">Timers for each step (in seconds):</label>
      <input type="number" id="timerStep1" class="form-control -lg" formControlName="timerStep1" (keyup)="onSend()"
        min=1 placeholder="Step 1">
      <input type="number" id="timerStep2" class="form-control -lg" formControlName="timerStep2" (keyup)="onSend()"
        min=1 placeholder="Step 2">
      <input type="number" id="timerStep3" class="form-control -lg" formControlName="timerStep3" (keyup)="onSend()"
        min=1 placeholder="Step 3">
    </div>
    <div class="form-group">
      <label for="nameTeams">(Optional) Team names:</label>
      <input type="text" id="nameTeam1" class="form-control -lg" formControlName="nameTeam1" (keyup)="onSend()" placeholder="Team 1">
      <input type="text" id="nameTeam2" class="form-control -lg" formControlName="nameTeam2" (keyup)="onSend()" placeholder="Team 2">
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-success" (click)="onLaunch()" [disabled]="createTeams || alone || parametersForm.invalid">Launch the game</button>
    </div>
  </form>
</div>
<div class="row mt-sm-1 justify-content-end" *ngIf="createTeams || alone || parametersForm.invalid">
  <div class="col-sm-5 alert alert-danger">
    <p>
      <strong>Oh snap!</strong>
    </p>
    <ul>
      <li *ngIf="parametersForm.invalid">Complete the parameters form.</li>
      <li *ngIf="alone">You can't play if you're alone ... :(</li>
      <li *ngIf="createTeams"> Create the teams.</li>  
    </ul>
  </div>
</div>