<p class="title">Proposal creation</p>
<p *ngIf="displayForm && !waiting">Enter your proposals (famous person, fictional character, situation, places, expression, private jokes with your friends, ...) </p>
<form *ngIf="displayForm && !waiting" [formGroup]="proposalForm">
    <div class="form-group">
        <div *ngFor="let prop of proposal; index as i">
            <label>Proposal {{i+1}}</label>
            <input type="text" class="form-control -lg" formControlName="{{ i }}" placeholder="Write something which will need to be guessed">
        </div>        
    </div>
    <button class="btn btn-success" [disabled]="proposalForm.invalid" (click)="onSubmit()">Send proposals</button>
</form>
<p>{{ message }}</p>